@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-index{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
} 

.br-2.anim{
    opacity: 0;
}

.br-1.anim {
    transform: rotate(45deg) translate(9px, 8px);
    transform-origin: 0 0;
}

.br-3.anim {
    transform: rotate(-45deg) translate(-6px, 8px);
    transform-origin: 0 0;
}
